spring:
  datasource:
    url: jdbc:postgresql://dumbo.inf.h-brs.de/jboven2s
    driver-class-name: org.postgresql.Driver
    username: jboven2s
    password: jboven2s
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    generate-ddl: false
  data:
    rest:
      base-path: /api
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB
logging:
  level:
   # org.hibernate.SQL: DEBUG
   # org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG
    de.hbrs.easyjob: DEBUG
server:
  port: 8080
vaadin:
  whitelisted-packages: com/flowingcode