spring:
  datasource:
    url: jdbc:postgresql://dumbo.inf.h-brs.de/jboven2s
    driver-class-name: org.postgresql.Driver
    username: jboven2s
    password: jboven2s
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    generate-ddl: false
   # properties:
    #  hibernate:
     #   jdbc:
      #    lob:
       #     non_contextual_creation: true
        #generate_statistics: true

  data:
    rest:
      base-path: /api
  devtools:
    restart:
      poll-interval: 2s
      quiet-period: 1s
logging:
  level:
   # org.hibernate.SQL: DEBUG
   # org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG
    de.hbrs.easyjob: DEBUG
server:
  port: 8080
vaadin:
  launch-browser: true
  whitelisted-packages: com/flowingcode