@import "Variables.css";

.inaktiv {
    width: 215px;
    height: 18px;
    top: 302px;
    left: 80px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    color: var(--text-grau);
}

.reaktivieren {
    width: 156px;
    height: 15px;
    top: 346px;
    left: 109.5px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
    color: var(--signalfarben-rot);
    text-decoration: underline;
    text-underline: var(--signalfarben-rot);
}

.oder {
    width: 34px;
    height: 15px;
    top: 387px;
    left: 170.5px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
    color: black;
}

vaadin-button.ausloggen {
    color: var(--signalfarben-rot);
    font-family: Rubik;
}

vaadin-button.ausloggen::part(label){
    text-decoration: underline;
    text-underline: var(--signalfarben-rot);
}







