body {
    width: 100%;
    background: var(--hintergrund-weiß);
    font-family: Rubik, sans-serif; /* Rubik als Standardschriftart und fallback sans-serif */
}


.titeltext{
    color: var(--hintergrund-weiß);
    padding-left: 27px;
    margin-top: 27px;
    margin-bottom: 0;
    width: 266px;
    height: 55px;
    padding-bottom: 0;
    padding-right: 82px;
    padding-top: 0;
}

.titeltext > h3{
    color: var(--hintergrund-weiß);
    margin-bottom: 0;
    margin-top: 0;
}

.tableiste{
    align-self: center;
}

.meldungTab {
    color: var(--hintergrund-weiß);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    align-self: center;
}

.content{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.infos {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 260px;
    justify-content: center;
}
.profilBild{
    width: 100%;
    height: 230px;
    align-self: center;
}

.profilBild img{
    width: 200px;
    height: 200px;
    border-radius: 155px;
    background-repeat: no-repeat;
    background-position: center;

}

.nameM {
    color: var(--admin-dark, #289A32);
    align-self: center;
    margin: 20px 0 0 0;
}

.alarm {
    color: red;
}
