body {
    width: 100%;
    background: var(--hintergrund-weiß);
    font-family: Rubik, sans-serif; /* Rubik als Standardschriftart und fallback sans-serif */
}

.willkommen-text {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 24px;
    margin-right: 24px;
    height: 30px;
}

.willkommen-box {
    background-color: var(--admin-dark);
    height: 150px;
    width: 100%;
    max-width: 600px;
    align-self: center;
}

.backArrow {
    width: 24px;
    height: 24px;
    color: white;

}

.userPlus {
    width: 30px;
    height: 30px;
    color: white;

}

.adminListe {
    width: 100%;
    height: 244px;
    left: 26px;
    max-width: 600px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 26px;
    margin-right: 26px;
    align-self: center;
}

.admins {
    padding-left: 27px;
    padding-right: 27px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.text {
    //styleName: Body/Body 3;
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3px;
}

vaadin-vertical-layout {
    padding: 0;
}

vaadin-button.ausloggen {
    color: var(--signalfarben-rot);
    font-family: Rubik, sans-serif;
}

vaadin-button.ausloggen::part(label){
    text-decoration: underline;
    text-underline: var(--signalfarben-rot);
}