@import "DialogLayout.css";

body {
    width: 100%;
    background: var(--hintergrund-weiß);
    font-family: Rubik, sans-serif; /* Rubik als Standardschriftart und fallback sans-serif */
}

.titel{
    color: var(--hintergrund-weiß);
    padding-left: 27px;
    margin-top: 7px;
    margin-bottom: 0;
    width: 266px;
    height: 55px;
    padding-bottom: 20px;
    padding-right: 82px;
    padding-top: 25px;
}

.all {
    padding-left: 10px;
    margin-bottom: 100px;
}

.job-title H1 {
    color: var(--admin-dark) !important;
    font-size: 14px;
    font-family: Rubik, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    margin: 19px 0 0 14px;
}

.iconsInJobIcons{
    width: 15px;
    height: 15px;
    color: var(--admin-dark) !important;
    flex-shrink: 0;
}

.search-field {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    align-self: center;
}

.search-layout {
    background: white;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
}

.gruenerblock{
    background-color: var(--admin-dark);
    width: 100%;
    max-width: 600px;
    padding-bottom: 10px;
    align-self: center;
}

/*Das hier macht dass der grüne Kasten bis in die Ecken geht. Um alle Komponenten ist nämlich noch
 ein Vertival Layout drum, weil du das als Layout Art verwendest. Das macht der automatisch drum.*/
vaadin-vertical-layout {
    padding: 0;
}

.personentext {
    color: var(--hintergrund-weiß);
    margin-bottom: 0;
    width: 266px;
    height: 40px;
    padding: 0 0 0 19px;
    margin-top: 0;
}

.ergebnisLayout{
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.content {
    margin-bottom: 100px;
}

.infos {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.buttons {
    flex-direction: column;
    display: flex;
    align-items: center;
    align-self: center;
    height: 110px;
    width: 100%;
    max-width: 630px;
    padding-top: 15px;
}

.profilBild{
    align-items: center;
    align-self: center;
}

.profilBild img{
    width: 145px;
    height: 145px;
    border-radius: 155px;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid var(--admin-dark);
}

.btnNeuesPasswort{
    display: flex;
    width: 300px;
    height: 46px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    border-radius: 30px;
    border: 2.5px solid var(--admin-dark, #289A32);
    background: var(--hintergrund-weiß, #FFF);
    color: var(--admin-dark, #289A32);

    align-self: center;
}

.btnSperren{
    display: flex;
    width: 300px;
    height: 46px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    border-radius: 30px;
    color: var(--hintergrund-weiß);
    background: var(--admin-dark, #289A32);

    align-self: center;
}

.btnneues {
    display: flex;
    width: 300px;
    height: 46px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    border-radius: 30px;
    border-color: var(--admin-dark);
    color: var(--admin-dark);
    background: var(--hintergrund-weiß);

    align-self: center;
}

.nicht-gefunden{
    padding-left: 15px;
}

.nameM {
    color: var(--admin-dark, #289A32);
    align-self: center;
    margin: 20px 0 0 0;
}

.iconsInUnternehmen{
    margin:0;
    width: 15px;
    height: 15px;
    color: rgba(28, 46, 69, 0.6);
}


.divReturn{
    display: flex;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
    text-align: start;
}

.zeileDiv{
    width: 50%;
    height: 100%;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.badge{
    border-radius: 25px;
    color: white;
    background:  var(--icon-grau);
    padding: 3px 6px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.completeZeile{
    margin-bottom: 17px;
}

.job-card {
    width: 100%;
    align-items: stretch;
    margin-top: -0px !important;
    margin-left: -5px !important;
}

.job-title{
    margin-top: 25px;
    margin-bottom: 15px;
    color: var(--admin-dark);
    font-size: var(--lumo-font-size-l);
    padding: 5px;

}
.mehrInfos{
    margin-bottom: 0;
}

vaadin-text-field::part(input-field){
    background-color: white;
}

vaadin-tab::before{
    background-color: var(--admin-dark);
}

.untertitel {
    color: var(--text-almostblack);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    padding-left: 6px;
}

.para {
    padding: 0 0 0 0;
    margin: 5px 0 0 0;
}