@import "AppLayouts.css";

html{
    box-sizing: border-box;
    margin: 0;
    --lumo-primary-text-color: #289A32;
}

body {
    width: 100%;
    margin: 0;

}

.icon{
    width: 25px;
    height: 25px;

}

vaadin-app-layout::part(navbar) {
    /* Zentriert die Tabs in der Navbar */
    display: flex;
    justify-content: center;

    /* Leiste unten */
    top: auto;
    bottom: 0;
    --vaadin-app-layout-navbar-offset-size: 0px;
}

.navbar-tabs {
    max-width: 600px;
}

/* Elemente */
.buttons {
    width: 289px;
    height: 20px;
//styleName: Body/Body 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding-top: 8px;
    padding-left: 0;
    padding-bottom: 8px;
    padding-right: 0;
    color: #6F6F6F;
}

.buttonAuswahl {
    width: 100%;
    height: 244px;
    left: 26px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 26px;
    margin-right: 26px;
}

vaadin-vertical-layout {
    padding: 0;
}

vaadin-vertical-layout {
    padding: 0;
}

.willkommen-box {
    background-color: var(--admin-dark);
    height: 160px;
    width: 100%;
    max-width: 600px;
    align-self: center;
}

.ausloggenFenster{
    justify-content: right;
    margin-top: 15px;
    padding-right: 27px;
    width:100%;
}

.signout {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 24px;
    width: 24px;
}





