@import "AppLayouts.css";

body {
    width: 100%;
    background: var(--hintergrund-weiß);
    font-family: Rubik, sans-serif; /* Rubik als Standardschriftart und fallback sans-serif */
}

/* Elemente */
.buttons {
    width: 289px;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding-top: 8px;
    padding-left: 0;
    padding-bottom: 8px;
    padding-right: 0;
}

.buttonAuswahl {
    width: 100%;
    height: 244px;
    left: 26px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 26px;
    margin-right: 26px;
}

vaadin-vertical-layout {
    padding: 0;
}


/* Grüne Box oben */
.gruene-box {
    background-color: var(--admin-dark);
    height: 150px;
    width: 100%;
    /*max-width: 600px;*/
    align-self: center;
}

.signout {
    height: 24px;
    width: 24px;
}



.begruessung {
    margin-top: -10px;
}

.ausl {
    padding-left: 300px;
    display: flex;
    justify-content: right;
    margin-top: 15px;
    padding-right: 27px;
}



.userPlus {
    color: var(--admin-dark);
}

.addAdmin {
    padding-left: 27px;
    padding-right: 27px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* Texte in der grünen Box */
.willkommen-text {
    color: var(--hintergrund-weiß);
    padding-left: 27px;
    margin-bottom: 0;
    width: fit-content !important;
    height: 55px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-top: 0;
    margin-top: 10px;
}


.willkommen-text > h3 {
    color: var(--hintergrund-weiß);
    margin-bottom: 0;
    margin-top: 0;
}

/* Inhalt Startseite */
.adminListe {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100em;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 26px;
    margin-right: 26px;
    align-self: center;
    margin-top: 10px;
}

.admins {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text {
//styleName: Body/Body 3;
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
}

.icons {
    color: var(--text-grau);
    display: flex;
    justify-content: space-between;
    width: 60px !important;
    height: 30px;
}

.editAdmin {
    color: white;
    width: var(--lumo-icon-size-s);
    height: var(--lumo-icon-size-s);
}

.willkommen-box {
    background-color: var(--admin-dark);
    height: 150px;
    width: 100%;
    max-width: 600px;
    align-self: center;
}

vaadin-button.ausloggen {
    color: var(--hintergrund-weiß);
}

.line {
    width: 100%;
    margin: auto;
    flex-grow: 1;
    height: 1px;
    background-color: var(--icon-hellgrau);
}







