/* Styles die von vielen Views geteilt werden und von Hauptkomponenten genutzt werden */

@import "Variables.css";

/* Zurück Button klein Rund */
vaadin-button.back-button-round {
    width: 28px;
    height: 28px;
    color: var(--hintergrund-weiß);
    border-radius: 90px;
}

.back-button-round.student {
    background-color: var(--studierende-dark);
}

.back-button-round.unternehmen {
    background-color: var(--unternehmen-dark);
}

/* Zurück Button "zurück" als Text mit Pfeil */
vaadin-button.back-button-text {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

vaadin-button.back-button-text::part(label){
    text-decoration-line: underline;
    text-underline: var(--text-almostblack);
}

/* Style für Vaadin Text Field */
vaadin-text-field {
    width: 100%;
}

vaadin-text-field::part(input-field){
    background-color: var(--icon-hellgrau);
    border-radius: var(--corner-radius);
}

vaadin-text-field::part(label){
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}

vaadin-text-field[required]::part(required-indicator)::before {
    content: "*";
}

vaadin-text-field[required]::part(required-indicator)::after {
    display: none;
}

vaadin-text-field > input {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/*Style für Vaadin Email Field*/
vaadin-email-field {
    width: 100%;
}

vaadin-email-field::part(input-field){
    background-color: var(--icon-hellgrau);
    border-radius: var(--corner-radius);
}

vaadin-email-field::part(label){
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}

vaadin-email-field > input {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/*Style für Vaadin Password Field*/
vaadin-password-field {
    width: 100%;
}

vaadin-password-field::part(input-field){
    background-color: var(--icon-hellgrau);
    border-radius: var(--corner-radius);
}

vaadin-password-field::part(label){
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}

vaadin-password-field[required]::part(required-indicator)::before {
    content: "*";
}

vaadin-password-field[required]::part(required-indicator)::after {
    display: none;
}

vaadin-password-field > input {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/* Style für Vaadin Combo Box */
vaadin-combo-box {
    width: 100%;
}

vaadin-combo-box::part(input-field){
    background-color: var(--icon-hellgrau);
    border-radius: var(--corner-radius);
}

vaadin-combo-box::part(label){
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}

vaadin-combo-box[required]::part(required-indicator)::before {
    content: "*";
}

vaadin-combo-box[required]::part(required-indicator)::after {
    display: none;
}

vaadin-combo-box::part(toggle-button){
    color: var(--text-grau);
}

vaadin-combo-box > input {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

vaadin-combo-box-item::part(content) {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

vaadin-combo-box-item:hover {
    background-color: transparent;
}

/* Style für Vaadin Multi Select (mit Tags) */
vaadin-multi-select-combo-box {
    width: 100%;
}

vaadin-multi-select-combo-box::part(toggle-button){
    color: var(--text-grau);
}

vaadin-multi-select-combo-box::part(input-field){
    background-color: var(--icon-hellgrau);
    border-radius: var(--corner-radius);
}

vaadin-multi-select-combo-box::part(label){
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}

vaadin-multi-select-combo-box::part(chip) {
    font-family: Rubik, sans-serif;
    color: var(--hintergrund-weiß);
    border-radius: var(--corner-radius);
    margin: 4px;
    padding: 3px 6px;
    gap: 3px
}

vaadin-multi-select-combo-box::part(toggle-button){
    color: var(--text-grau);
}

vaadin-multi-select-combo-box > input {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

vaadin-multi-select-combo-box[required]::part(required-indicator)::before {
    content: "*";
}

vaadin-multi-select-combo-box[required]::part(required-indicator)::after {
    display: none;
}

/* Style für Vaadin Check Box */
vaadin-checkbox > label {
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Style für Radio-Buttons */
vaadin-radio-group {
    align-self: flex-start;
}

vaadin-radio-group > vaadin-radio-button {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

vaadin-radio-group > vaadin-radio-button::part(radio) {
    background-color: var(--icon-hellgrau);
}

/*Style für Vaadin Text-Area*/

vaadin-text-area {
    height: 245px;
    width: 100%;
}

vaadin-text-area::part(input-field){
    background-color: var(--icon-hellgrau);
    border-radius: var(--corner-radius);
}

vaadin-text-area::part(label){
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}

vaadin-text-area[required]::part(required-indicator)::before {
    content: "*";
}

vaadin-text-area[required]::part(required-indicator)::after {
    display: none;
}

vaadin-text-area > textarea {
    color: var(--text-almostblack);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}