.body{
    padding: 0;
}
.frame{
    background-color: var(--unternehmen-dark) ;
    height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.name{
    color: var(--hintergrund-weiß);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.zurueck{
    color: white;
    justify-content: center;
    width: fit-content !important;
}

.dotsLayout{
    width: fit-content !important;
    color: white;
    justify-content: center;
    align-items: flex-end;
}

.profileImage{
    width: 68px;
    height: 68px;
    border-radius: 9999px;
    border: 2px solid #FFF;
}

.student-details{
    gap: 0;
    align-items: flex-start;
    display: flex;
    min-width: 60%;
}

.foto{
    width: fit-content !important;
    align-items: center;
    justify-content: center;
}