html{
    box-sizing: border-box;
    margin: 0;

}
body {
    background-color: #FFF;
    width: 100%;
    margin: 0;

}
.login-view{
    border-radius: 30px;
    background: #FFF;
    margin: 0;

}
.divLogin{
    margin: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: linear-gradient(180deg, #FE9389 0%, #FE9389 0.01%, #9D2D6D 100%);

}

.btn{
    display: flex;
    width: 312px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 4px;
}
.logButton{
    border-radius:4px;
    background:  #A3336F;
}
.regButton{
    border-radius: 4px;
    border: 2px solid  #A3336F;
    background:  #FFF;
    color: #A3336F;
}
.verButton{
    color:  #6F6F6F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;

}



