@import "Variables.css";

html {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
}

.icon {
    width: 25px;
    height: 25px;
}
vaadin-app-layout{
    --vaadin-app-layout-navbar-offset-top: 0;
    --vaadin-app-layout-navbar-offset-bottom: 44px;
}
vaadin-app-layout::part(navbar) {
    /* Zentriert die Tabs in der Navbar */
    display: flex;
    justify-content: center;

    /* Leiste unten */
    top: auto;
    bottom: 0;
}

