body {
    width: 100%;
    background: var(--hintergrund-weiß);
    font-family: Rubik, sans-serif; /* Rubik als Standardschriftart und fallback sans-serif */
}

.titel{
    color: var(--hintergrund-weiß);
    padding-left: 27px;
    margin-top: 7px;
    margin-bottom: 0px;
    width: 266px;
    height: 55px;
    padding-bottom: 20px;
    padding-right: 82px;
    padding-top: 25px;
}

.search-field {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    align-self: center;
}

.search-layout {
    background: white;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
}

.gruenerblock{
    background-color: var(--admin-dark);
    width: 100%;
    max-width: 600px;
    padding-bottom: 10px;
    align-self: center;
}

/*Das hier macht dass der grüne Kasten bis in die Ecken geht. Um alle Komponenten ist nämlich noch
 ein Vertival Layout drum, weil du das als Layout Art verwendest. Das macht der automatisch drum.*/
vaadin-vertical-layout {
    padding: 0;
}

.personentext {
    color: var(--hintergrund-weiß);
    padding-left: 19px;
    margin-bottom: 0;
    width: 266px;
    height: 40px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 55px;
}

.ergebnisLayout{
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.content {
    margin-bottom: 100px;
}

.infos {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 260px;
    justify-content: center;
    align-self: center;
}

.buttons {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 130px;
    width: 100%;
    max-width: 630px;
    padding-top: 15px;
}

.profilBild{
    width: 200px;
    height: 230px;
    align-self: center;
}

.profilBild img{
    width: 200px;
    height: 200px;
    border-radius: 155px;
    background-repeat: no-repeat;
    background-position: center;

}

.nameM {
    color: var(--admin-dark, #289A32);
    align-self: center;
    margin: 20px 0 0 0;
}

.btnNeuesPasswort{
    display: flex;
    width: 300px;
    height: 46px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    border-radius: 30px;
    border: 2.5px solid var(--admin-dark, #289A32);
    background: var(--hintergrund-weiß, #FFF);
    color: var(--admin-dark, #289A32);

    align-self: center;
}

.btnSperren{
    display: flex;
    width: 300px;
    height: 46px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    border-radius: 30px;
    color: var(--hintergrund-weiß);
    background: var(--admin-dark, #289A32);

    align-self: center;
}

.btnneues {
    display: flex;
    width: 300px;
    height: 46px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    border-radius: 30px;
    border-color: var(--admin-dark);
    color: var(--admin-dark, #289A32);
    background: var(--hintergrund-weiß);

    align-self: center;
}

.nicht-gefunden{
    padding-left: 15px;
}

.name{
    margin:0;
    color: #000;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 75% */
    letter-spacing: -0.165px;
}
.location{
    width: max-content;
    justify-content: center;
}

.iconsInUnternehmen{
    margin:0;
    width: 15px;
    height: 15px;
    color: rgba(28, 46, 69, 0.6);
}
.stadt {
    color:  rgba(50, 50, 50, 1);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 12px;
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
}


.divReturn{
    display: flex;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
    text-align: start;
}

.zeileDiv{
    width: 50%;
    height: 100%;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
.badge{
    border-radius: 25px;
    background:  var(--hintergrund-sky);
    padding: 3px 6px;
    margin-right: 4px;

}


.completeZeile{
    margin-bottom: 17px;
}

