
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


html{
    box-sizing: border-box;
    margin: 0;

    --lumo-primary-text-color: rgba(45, 52, 160, 1);
    --lumo-primary-color:  rgba(45, 52, 160, 1);

}
body {
    width: 100%;
    margin: 0;
    font-family: Rubik, sans-serif;
}

.iconsProf{
    width: 24px;
    height: 24px;
}
.profilBild{
    width: 200px;
    height: 200px;
    border-radius: 155px;
    border: 4px solid lightgray;

}

.profilBild img{

    width: 200px;
    height: 200px;
    border-radius: 155px;
    background-repeat: no-repeat;
    background-position: center;

}

.name{
    margin:0;
    color: #000;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 75% */
    letter-spacing: -0.165px;
}
/*Link
 */
.unternehmenProfil{
    color: #323232;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

.kon{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    padding-left: 16px;
}
.title{
    width: 50%;
}
.wert{

}
.completeZeile{
gap: 0;
}



