@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import "Variables.css";
@import "ProfilView.css";

html{
    box-sizing: border-box;
    margin: 0;

}
body {
    background-color: #FFF;
    width: 100%;
    margin: 0;

}
/*Banner oben*/
.bildUnternehmen{
    margin: 0;
    width: 100%;
    flex-shrink: 0;
}
.bildUnternehmen img{
    height: auto;
    max-height: 180px;
    width: 100%;
}
.dots{
    width: fit-content;
    margin-right: 20px;
}
/*Logo*/
.unternehmenLogo{
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    margin: 14px;
    border-radius: 5px;
    border: 1px solid var(--icon-grau);
    max-width: 74px;
    max-height: 74px;
}
.unternehmenLogo img{
    width: 74px;
    height: 74px;
}
/*---Unternehmensinformationen--------------*/
.unternehmenInfoAndMenu{
    width: 100%;
    justify-content: space-between;
}
.unternehmenInfoLayout{
    width: auto;
    margin: 14px;
    gap: var(--lumo-space-s);
}
/*Name des Unternehmens*/
.grosseTitleUnternehmen {
    color: var(--text-almostblack);
    font-family: Rubik, serif;
    font-size: 150%;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 64.286% */
    letter-spacing: -0.17px;
    margin-top: 0;
    margin-bottom: 0;

}
/*Verifiziert*/
.verIcon{
    width: 16px;
    height: 16px;
    color: var(--text-grau);
}
.verifiziert{
    color: var(--text-grau);
    background-color: var(--icon-hellgrau);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 170% */
    border-radius: 25px;
    padding: 3px 5px 3px 5px;
}
/*Ort und Anzahl Jobs*/
.locationPlusAnzahl{
    width: max-content;
    align-items: center;
}
.iconsProf{
    color: var(--unternehmen-dark);
}
/*---------------------------------*/
.iconsInUnternehmen{
    margin:0;
    width: 15px;
    height: 15px;
    color: var(--unternehmen-dark);
}
.neuStellen{
    color: #2D34A0;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.165px;
    text-decoration-line: underline;
    margin-top: 0;
}
.stadt {
    color:  rgba(50, 50, 50, 1);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 12px;
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
}
.anzahlAngebote{
    color: #6F6F6F;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 21px */
    margin-top: 0;
    margin-bottom: 0;
}
/*Unternehmen Beschreibung*/
.unternehmenBeschreibung{
    padding: 0 20px 0 20px;
}
/*Kurzprofil Stellenanzeige*/
.title{
    color: #6F6F6F;
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    margin-top: 4px;
    margin-left: 16px;
    margin-bottom: 0;
}
.job{
    width: 88%;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #BFBEBE;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 12px;
}
.jobBeschreibung {
    color: rgba(45, 52, 160, 1);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}
.iconsInJobIcons{
    width: 15px;
    height: 15px;
    color: rgba(45, 52, 160, 1);
}
.titleIcons {
    color:  #323232;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 8px;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 12px ;
}

.jobBText {
    color: #6F6F6F;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    margin-top: 0;
}
.jobDatum{
    color: #323232;
    font-family: Rubik, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 16.5px */
    margin-bottom: 0;

}
